# SPDX-License-Identifier: GPL-2.0
config FBFAM
	bool "Fork brute force attack mitigation"
	default n
	help
	  This is a user defense that detects any fork brute force attack
	  based on the application's crashing rate. When this measure is
	  triggered the fork system call is blocked.

	  If you are unsure how to answer this question, answer N.
